extends layout

block content
  h2.page-header Login
  p Please login below
  form(method='post', action='/users/login')
   .form-group
    label Username
    input.form-control(name='userName', type='text', placehoder='Enter User name')
   .form-group
    label Password
    input.form-control(name='password', type='password', placehoder='Enter Password')
   input(type='submit' name='submit' value='Login').btn.btn-primary 