extends layout

block content
  h2.page-header Register
  p Please register using the below form
  if errors
    each error, i in errors
      div.alert.alert-danger #{error.msg}
  form(method='post', action='/users/register', enctype='multipart/form-data')
   .form-group
    label Name
    input.form-control(name='name', type='text', placehoder='Enter name')
   .form-group
    label Email
    input.form-control(name='email', type='email', placehoder='Enter email')
   .form-group
    label User Name
    input.form-control(name='userName', type='text', placehoder='Enter User Name')
   .form-group
    label Password
    input.form-control(name='password', type='password', placehoder='Enter Password')
   .form-group
    label Confirm Password
    input.form-control(name='password2', type='password', placehoder='Confirm password')
   .form-group
    label Profile Image
    input.form-control(name='profileImage', type='file')
   .form-group
   input(type='submit' name='submit' value='Register').btn.btn-primary 